<div id="<%= dom_id user %>">

<div>
<% if user.avatar.attached? %>
  <%= image_tag user.avatar, alt: "Image to #{user.name}", style: 'width: 48px; height: 48px; border-radius: 50px;' %>
<% else %>
  <%= image_tag "default_user.png", alt: "Default user", style: 'width: 48px; height: 48px; border-radius: 50px;'%>
<% end %>
  <p>
    <h3><%= @user.name %></h3>
  </p>
  <p><%= @user.username %></p>
  
  <h3>Tweets (<%= @user.tweets.length%>)</h3>

  <h3>Likes (<%= @user.liked_tweets.length%>)</h3>



</div>
