<%= render @user %>

<% @user.tweets.sort.reverse.each do |tweet| %> 
<%= link_to tweet do%>
<p>
  <%= tweet.body %>
</p>
 <% end %>
   <p>
    <%= image_tag "replies-icon.png", style: 'width: 16px; height: 16px;'%>
    <%= tweet.replies_count %>
  </p>

  <p>
    <%= image_tag "like-icon.png", style: 'width: 16px; height: 16px;'%>
    <%= tweet.likes_count %>
  </p>

 <% end %>

<div>
  <% link_to "Edit this user", edit_user_path(@user) %> 
</div>
