<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
   <%= link_to root_path do %>
    <%= image_tag "tweetable.png" %>
   <% end %>
   <ul>
   <li>
     <%= button_to "My Profile", @user, method: :get %>
   </li>
   <li>
     <%= button_to "Sign out", method: :delete, data: {turbo: false} %>
   </li>
   </ul>
   </header>

    <%= yield %>

    <footer>
    <p>----------------------------------------------------------------------------------------</p>
    <p>Made with &#9829 by</p>     
    <a href="https://github.com//jorge-ross">Jorge Ross</a>
    <br>
    <br>
    <span>© 2023 - Codeable </span>
    </footer>
  </body>
</html>
